.bubble-wrapper{
  @include flex(column, center);
  .score-bubble {
    @include fonts(massive);
    border: $border-primary;
    border-radius: 50%;
    width: 4.75rem;
    height: 4.75rem;
    background-color: $color-primary;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-accent-primary;
  }
  .characteristic-title {
    padding-top: .25rem;
    @include fonts(tiny);
  }
}

