.score-bubble {
  @include fonts(massive);
  background-color: $color-primary;
  border: $border-primary;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: .25rem 2rem;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color-accent-primary;
}

.characteristic-title {
  @include fonts(tiny);
}