.bubble-wrapper {
  @include flex(column-reverse, center);

  .score-bubble {
    @include flex(column, center);
    @include fonts(massive);
    border: $border-primary;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: $color-primary;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-accent-primary;
  }

  .characteristic-title {
    padding-top: 0.25em;
    @include fonts(tiny);
  }
}
