.main-header {
  @include flex(column, center);
  height: 4rem;
  background: $color-header-primary;
  border-radius: $border-radius-secondary;
  box-shadow: $box-shadow-primary;
  .title {
    color: $color-primary;
    text-shadow: $text-shadow;
    -webkit-text-stroke: $text-stroke;
  }
}