.info-field {
  height: unset;
  .info-heading {
    @include fonts(medium);
    width: 90%;
    text-align: left;
  }
  .info-value {
    color: $color-accent-primary;
    background-color: $color-primary;
    border: $border-primary;
    border-radius: $border-radius-primary;
    width: 94%;
    text-align: center;
  }
}