.nav-bar {
  @include flex(row, space-around); 
  z-index: 1;
  width: 100%;
  height: 4rem;
}

.backdrop {
  position: absolute;
  background: $color-primary;
  filter: $blur-primary;
  width: 100%;
  height: 3.5rem;
  bottom: 0;
}