.button {
  @include flex(row, center);
  border-radius: $border-radius-tertiary;
  
  height: 3.5rem;
  width: 3.5rem;


  .icon {
    width: 2rem;
    height: auto;
    
  }
}

.overlay {
  position: absolute;
  // z-index: -1;
  border-radius: $border-radius-tertiary;
  $box-shadow: $box-shadow-primary;
  width: 3.5rem;
  height: 3.5rem; 
  .front {
    border: 0.25px solid #223F5B;
    background: #99B8CC;
    mix-blend-mode: overlay;
    // backdrop-filter: $blur-secondary;
  }
  .back {
    border: 0.25px solid #223F5B;
    background: #99B8CC;
      mix-blend-mode: overlay;
  }
}