.nav-link {
  @include flex(column, center);
  position: relative;
  transition: 500ms transform;
  border-radius: $border-radius-tertiary;

  &.small:hover,
  &.medium:hover {
    transform: scale(1.2);
  }

  &.small {
    margin: 0 0.5rem;
    min-width: 2rem;
  }

  &.medium {
    margin: 1rem 1rem;
    min-width: 3rem;
  }

  &.large {
    @include hover;
    transition-delay: 100ms;
    margin: 0 0rem 1rem;
    min-width: 4.5rem;
  }

  .icon {
    position: absolute;

    &.small {
      transform: scale(0.95);
    }

    &.medium {
      transform: scale(0.9);
    }

    &.large {
      opacity: 1;
    }
  }

  .orb {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    border: $border-secondary;
    border-radius: $border-radius-tertiary;
    box-shadow: $box-shadow-primary;
    mix-blend-mode: overlay;

    &.small {
      width: 3rem;
      height: 3rem;
    }

    &.medium {
      width: 4rem;
      height: 4rem;
    }

    &.large {
      border: unset;
      background: $color-white;
      opacity: 0.8;
      width: 5rem;
      height: 5rem;
    }
  }

  &.disabled {
    pointer-events: none;
    transform: translateY(10rem);
  }
}

.dice {
  animation: spin infinite 35s normal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
