.skills-sheet {
  position: relative;
  margin-bottom: .2rem;
  width: 100%;
  height: 80%;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 1rem;
    width: 100%;
    height: 22rem;
    filter: $blur-tertiary;
    background-image: linear-gradient(to bottom,
        $color-background-primary 0%,
        hsla(0, 0%, 0, 0) 40%,
        hsla(0, 0%, 0, 0) 100%);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -4rem;
    width: 100%;
    height: 5rem;
    filter: $blur-primary;
    background-image: linear-gradient(to bottom,
        hsla(0, 0%, 0, 0) 0%,
        $color-background-primary 10%,
        $color-background-primary 100%,
      );
  }

  .skill-headings {
    @include flex(row, space-between);
    position: absolute;
    width: 100%;
    padding: 0 2.5rem;
    .heading {
      @include fonts(giant, $font-weight-bold);
      opacity: 1;
      color: $color-white;
    }
  }

  .skills-container {
    z-index: 0;
    overflow-y: auto;
    margin: 3rem 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0rem;
  }
}