.skills-sheet {
  @include flex(column, start);
  align-items: center;
  position: relative;
  width: 100%;
	height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3.85rem;
    background: $color-background-primary;
    filter: $blur-primary;
    }

  .skill-headings {
    @include flex(row, space-between);
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0 2.5rem;

    @include device(tablet) {
      width: 60%;
    }
  
    @include device(desktop) {
      width: 40%;
    }
    
    .heading {
      @include fonts(giant, $font-weight-bold);
      color: $color-white;
    }
  }

  .skills-container {
    z-index: 0;
    overflow-y: auto;
    margin: 1rem 0;
    width: 100%;
    height: clamp(10%, 90vh, 100%);
    padding: 2.5rem 1rem 8rem;

    @include device(tablet) {
      width: 60%;
    }
  
    @include device(desktop) {
      width: 40%;
    }
  }
}