/* ==========================================================================
Settings - Misc
========================================================================== */

$box-shadow-primary: 0px 4px 4px 0px $color-transparent-primary;

$border-primary: 2px solid $color-accent-primary;
$border-secondary: 0.35px solid $color-accent-secondary;

$blur-primary: blur(10px);
$blur-secondary: blur(40px);
