/* ==========================================================================
  Elements - Landmarks
========================================================================== */

html {
  overflow: hidden;
  width: 100%;
  }

body {
  background: $color-background-primary;
  position: fixed;  
  overflow: hidden; 
}

header {
  @include flex(row, space-between);
  
}

main {
  @include flex(column, space-between);
  position: relative;
  height: 100vh;
  width: 100vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

article {
  height: 100%;
  width: 100%;
}

form {
  @include flex(column, start);
}

button {
  border: none;
  background: unset;
  cursor: pointer;
}