/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  background: $color-background-primary;
}

header {
  @include flex(row, space-between);
}

main {
  @include flex(column, space-between);
  position: relative;
  width: 100vw;
  height: 100vh;
}

footer {
  position: relative;
  width: 100%;
}

article {
  height: 100%;
  width: 100%;
}

form {
  @include flex(column, center)
}