/* ==========================================================================
  Base - Font Face
========================================================================== */

@font-face {
  font-family: 'eote_symbols';
  src: url('../../assets/fonts/eote_symbols.woff') format('woff2');
  src: url('../../assets/fonts/eote_symbols.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
};