/* ==========================================================================
  Base - Media Queries
========================================================================== */

@mixin device($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == tablet-lg {    
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @if $breakpoint == tablet {    
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
}

@mixin hover() {
    @media(hover: hover) and (pointer: fine) {
    &.small:hover,
    &.medium:hover {
      transform: scale(1.2);
    }
    &.large:hover {
      transform: scale(1.2);
      transition: 300ms transform ease-in-out;
    }
  }
}